.zero-padding {
    padding: 0;
}

.zero-margin {
    margin: 0;
}

.search-results {
    background-color: #F7F7F7;
}

.fa-utensils {
    color: #fff;
}

.restaurant-title {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

.restaurant-title a {
    text-decoration: none;
    color: darkslategrey;
}

.image-react {
    width: 100%;
}